## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives**
- List popular languages used in data science
- List commonly used libraries in data science
- List the commonly used ML tools in data science
- List the commonly used visualization tools in data science
- List the commonly used development environment in data science

#### Some of the popular languages that Data Scientists use are:
- python
- R
- SQL

### Some of the commonly used libraries used by Data Scientists include:
- Numpy
- matplotlib
- scikit-learm

|Data Science Tools|
-------------------
|jupyter notebook|
|Anaconda|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Savin Shynu Varghese